body{
    background-color: lightskyblue;
    margin: 0px;
    padding: 0px;
}

#gameContainer{
    width: 100%;
    color: blue;
    height: 90vh;
    /* border: 5px;
    border-style: solid; */
}

 #topPart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    /* border: 5px;
    border-style: solid;
    border-color: blue; */
}

#bottomPart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    /* border: 5px;
    border-style: solid;
    border-color: rebeccapurple; */
    background-image: url("https://www.shutterstock.com/image-illustration/abstract-brick-background-white-color-600w-1924764416.jpg");
}

#character{
    position: absolute;
    top:665px;
    height: 50px;
    width: 50px;
}

.bubble{
    position: absolute;
    height: 50px;
    width: 50px;
}

.smallBubble{
    background-color: red;
    border-radius: 50%;
    position: absolute;
    height: 10px;
    width: 10px;
}

.mediumBubble{
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
}


#gameTitle{
    font-family: fantasy;
    font-size: 50px;
}

.bottomInfo{
    font-size: x-large;
}

.gameButton{
    cursor: pointer;
    border-radius: 15%;
    background-color: orange;
}
